//! **************************************************************************
// Written by: Map M.53d on Wed Jul 10 21:26:19 2013
//! **************************************************************************

SCHEMATIC START;
COMP "b3<0>" LOCATE = SITE "D6" LEVEL 1;
COMP "b4<0>" LOCATE = SITE "D13" LEVEL 1;
COMP "sig" LOCATE = SITE "K17" LEVEL 1;
COMP "b5<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "b6<0>" LOCATE = SITE "G9" LEVEL 1;
COMP "b7<0>" LOCATE = SITE "A8" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "b0<0>" LOCATE = SITE "R14" LEVEL 1;
COMP "b1<0>" LOCATE = SITE "C3" LEVEL 1;
COMP "sign" LOCATE = SITE "H13" LEVEL 1;
COMP "bsig" LOCATE = SITE "D18" LEVEL 1;
COMP "b2<0>" LOCATE = SITE "E6" LEVEL 1;
SCHEMATIC END;

